* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.anchor-button {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 56px;
  background: #ff5959;
  border-radius: 5px;
  padding: 6px 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.primary-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
}
.secondary-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 691px;
  text-align: center;
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 80vh;
  background-image: url("./img/header.png");
}
.hero-section h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  margin: 0 auto;
  text-align: center;
  width: 826px;
  color: #ffffff;
}
.hero-section p {
  color: #ffffff;
}

/* Donate Today Section Style */
.donate-today {
  margin: 100px 350px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate-today p {
  width: 691px;
  color: #707070;
}
.donate-today .card-container {
  margin: 30px 0px;
  display: flex;
  gap: 40px;
}
.donate-today .card {
  margin: 2px;
  display: flex;
  text-align: center;
  align-items: center;
  width: 135px;
  height: 123px;
  background: #fafafa;
  border-radius: 5px;
}
.donate-today .card p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  color: #707070;
}
.donate-today .active {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
}
.donate-today .active p {
  color: #ff5959;
}
.donate-today input {
  border: 0px solid;
  border-bottom: 3px solid #dadada;
  width: 130%;
  height: 40px;
}
.donate-today input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #b3b3b3;
}

/* Donate Plan Styles */
.donate-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 30px 20px;
}
.donate-plan .card-container {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  gap: 24px;
}
.donate-plan .card:nth-child(1) {
  background: rgba(79, 157, 166, 0.1);
}
.donate-plan .card:nth-child(2) {
  background: rgba(255, 89, 89, 0.1);
}
.donate-plan .card:nth-child(3) {
  background: #fff4d6;
}

.donate-plan .card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  padding: 50px;

  border-radius: 5px;
}
.donate-plan .card-icon {
  margin: 10px 0;
}
.donate-plan .card-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: #121212;
}
.donate-plan .card-text {
  font-family: "Poppins";
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 275px;
  color: #707070;
}

/* Contrubute Section Style */
.donation {
  display: flex;
  margin: 100px auto;
  justify-content: center;
  /* margin: 300px 0px; */
  gap: 70px;
}
.donation .anchor-button {
  width: 230px;
}
.donation .primary-text,
.secondary-text {
  text-align: left;
  width: 492px;
}
.donation .details-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  justify-content: center;
}
.donation .image-part {
  width: 40%;
}
.image-part img {
  width: 100%;
  height: 100%;
}
/* Get Update styles */
.get-updates {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.get-updates .secondary-text {
  text-align: center;
  width: 45%;
  color: #707070;
}
.email-container {
  width: 56%;
  margin: 30px auto;
  height: 200px;
  background: #fff4d6;
}
.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-container > div {
  display: flex;
  height: 48px;
  gap: 0;
}
.email-container input {
  text-align: left;
  padding-left: 17px;
  height: 100%;
  border: 0px;
  background: #d9d9d9;
  width: 275px;
  border-radius: 5px 0px 0px 5px;
}
.email-container button {
  height: 100%;
  border: 0px;
  background: #ff5959;
  border-radius: 0px 5px 5px 0px;
  padding: 14px 42px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

/* Footer Style */
footer {
  height: 180px;
  background: #0b0d17;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer h1 {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #ff5959;
}
footer p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
}
